
@font-face {
    font-family:"iA Writer Duospace Bold";
    src:url("iAWriterDuospace-Bold.woff2") format("woff2"),url("iAWriterDuospace-Bold.woff") format("woff"),url("iAWriterDuospace-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        