
@font-face {
    font-family:"iA Writer Duospace RegularItalic";
    src:url("iAWriterDuospace-RegularItalic.woff2") format("woff2"),url("iAWriterDuospace-RegularItalic.woff") format("woff"),url("iAWriterDuospace-RegularItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        