.customToggle {
    background: transparent;
    border: none;
    outline: none;
    padding: 40px 0;
    cursor: pointer;
    transition: background-color .3s ease;

    h1 {
        font-size: 21pt;
        text-align: left;
    }

    p {
        text-align: left;
    }
}

.customToggle:hover {
    background-color: var(--lightgray);
}